---
import BaseLayout from '../layout/BaseLayout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import AppImage from '../components/AppImage.astro';
import Content from '../components/Content.astro';
import CallToAction from '../components/CallToAction.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Navbar />
  <main>
    <Hero />
    <AppImage />
    <Content />
		<CallToAction />
  </main>
	<Footer />
</BaseLayout>
