---
import '@fontsource-variable/open-sans';
import { Picture } from 'astro:assets';
import { Image } from 'astro:assets';
---

<section>
  <div class='bg'>
    <Image
      src={'/images/bg-section-top-mobile-1.svg'}
      alt={''}
      width={100}
      height={100}
      class='divide-top'
    />
    <Image
      src={'/images/bg-section-top-desktop-1.svg'}
      alt={''}
      width={100}
      height={100}
      class='divide-top-desktop'
    />
    <div class='item main-container'>
      <Picture
        src={'/images/illustration-grow-together.svg'}
        alt={''}
        width={1023.46}
        height={837.84}
      />
      <div class='reverse'>
        <h2 class='title'>Grow Together</h2>
        <p class='content reverse'>
          Generate meaningful discussions with your audience and build a strong,
          loyal community. Think of the insightful conversations you miss out on
          with a feedback form.
        </p>
      </div>
    </div>
    <Image
      src={'/images/bg-section-bottom-mobile-1.svg'}
      alt={''}
      width={100}
      height={100}
      class='divide-bottom'
    />
    <Image
      src={'/images/bg-section-bottom-desktop-1.svg'}
      alt={''}
      width={100}
      height={100}
      class='divide-bottom-desktop'
    />
  </div>
  <div class='item main-container'>
    <Picture
      src={'/images/illustration-flowing-conversation.svg'}
      alt={''}
      width={1023.46}
      height={837.84}
    />
    <div>
      <h2 class='title'>Flowing Conversations</h2>
      <p class='content'>
        You wouldn't paginate a conversation in real life, so why do it online?
        Our threads have just-in-time loading for a more natural flow.
      </p>
    </div>
  </div>
  <div class='bg'>
    <Image
      src={'/images/bg-section-top-mobile-2.svg'}
      alt={''}
      width={100}
      height={100}
      class='divide-top'
    />
    <Image
      src={'/images/bg-section-top-desktop-2.svg'}
      alt={''}
      width={100}
      height={100}
      class='divide-top-desktop'
    />
    <div class='item main-container'>
      <Picture
        src={'/images/illustration-your-users.svg'}
        alt={''}
        width={1023.46}
        height={837.84}
      />
      <div class='reverse'>
        <h2 class='title'>Your Users</h2>
        <p class='content'>
          It takes no time at all to integrate Huddle with your app's
          authentication solution. This means, once signed in to your app, your
          users can start chatting immediately.
        </p>
      </div>
    </div>
    <Image
      src={'/images/bg-section-bottom-mobile-2.svg'}
      alt={''}
      width={100}
      height={100}
      class='divide-bottom-together'
    />
    <Image
      src={'/images/bg-section-bottom-desktop-2.svg'}
      alt={''}
      width={100}
      height={100}
      class='divide-bottom-together-desktop'
    />
  </div>
</section>

<style>
  section {
    text-align: center;
    color: var(--clr-d-cyan);

    display: flex;
    flex-direction: column;
    gap: 16rem;
    padding-top: 6rem;
    margin-bottom: 20rem;
  }

  img {
    width: 80%;
  }

  .title,
  .content {
    font-family: 'Open Sans Variable', sans-serif;
  }

  .title {
    font-weight: 700;
    margin-top: 6rem;
    margin-bottom: 1rem;
  }

  .content {
    font-weight: 600;
    line-height: 1.5rem;
  }

  /* Bg container */
  .bg {
    background-color: var(--clr-d-paleblue);
    padding-block: 4rem;
    position: relative;
  }

  .divide-top {
    position: absolute;
    width: 100%;
    top: -6rem;
    left: 0;
  }

  .divide-top-desktop {
    position: absolute;
    width: 100%;
    top: -10rem;
    left: 0;
    display: none;
  }

  .divide-bottom {
    position: absolute;
    width: 100%;
    bottom: -3rem;
    left: 0;
  }
  .divide-bottom-together {
    position: absolute;
    width: 100%;
    bottom: -7rem;
    left: 0;
  }

  .divide-bottom-desktop {
    position: absolute;
    width: 100%;
    bottom: -8rem;
    left: 0;
    display: none;
  }
  .divide-bottom-together-desktop {
    position: absolute;
    width: 100%;
    bottom: -8rem;
    left: 0;
    display: none;
  }

  @media (min-width: 650px) {
    section {
      text-align: left;
    }

    .item {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 8rem;
    }

    .title {
      font-size: 2.5rem;
    }

    .content {
      padding-right: 5rem;
      padding-bottom: 6rem;
    }

    .reverse {
      order: -1;
    }

    .divide-top {
      display: none;
    }

    .divide-top-desktop {
      display: block;
    }

    .divide-bottom {
      display: none;
    }

    .divide-bottom-desktop {
      display: block;
    }

    .divide-bottom-together {
      display: none;
    }

    .divide-bottom-together-desktop {
      display: block;
    }
  }

  @media (min-width: 405px) {
    .divide-top {
      top: -7rem;
    }
  }

  @media (min-width: 490px) {
    .divide-top {
      top: -9rem;
    }
  }

  @media (min-width: 565px) {
    .divide-top {
      top: -10rem;
    }
  }
</style>
